body {
  color: #40514E;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: normal;
  color: #66BFBF;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {

  border: dotted #E6F0FF 10px; 
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.Header-container ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 12px;
  margin-right: 50px;
  padding-left: 0;
  margin-bottom: 22px;
  float: right;
}

.Header-container ul img {
  width: 70px;
  float: left;
  margin-left: 60px;
}

.Header-container h3 {
  margin-top: 14px;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
  font-family: "Cinzel Decorative", cursive;
  font-size: 24px;
}

.Header-container ul li a {
  color: #d9cbd1;
}

.Header-container a:hover {
  color: #11999E;
}

.Header-container {
  background-color: #e0ebe8;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.7s;

}

.Top-container {
  background-color: #E0EBE8;
  position: relative;
  padding-top: 100px;
}

h2 {
  font-family: "Cinzel Decorative", cursive;
}
.middle-container
{
  width: 100%;

}
.middle-container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.42857143;
  color: #545454;
  text-align: left;
  line-height: 1.5;
  word-spacing:2px;
  padding-right: 30px;

  direction: ltr;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.middle-container ul li{
  text-align: left;
  word-spacing:1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.22857143;
  color: #545454;
  list-style-type: none;
  padding: 4px;
  padding-right: 20px;
}

.bottom-container {
  margin-top: 50px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.profile {

  width: 60%;
  height: 780px;
  text-align: center;
  margin: 100px auto 100px auto;

  background-color: #E6F0FF;
  border-radius: 25px;
  
    overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 20px;

}

.profile:hover{
  box-shadow:2px 2px 10px 10px lightgrey ;
}

.code-img0 {
  width: 25%;
  float: none;
}

.skill-row {
  width: 80%;
  margin: 100px auto 100px auto;
  text-align: left;
  background-color: #E6F0FF;
  height: 280px;
  border-radius: 25px;
  overflow-x: hidden;
  overflow-y: hidden;


}

.skill-row:hover{
  box-shadow:2px 2px 10px 10px lightgrey ;
}

.skills h3{
  padding-top: 15px;
  font-size: 18px;

}

.intro {
  word-spacing:2px;
  direction: ltr;
  justify-content: left;
  text-align: left;
}

#para{
  margin-top: 0;
  padding-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-spacing:2px;
  padding-right: 30px;
  direction: ltr;
  overflow-x: hidden;
  overflow-y: hidden;
}
.P_name{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  word-spacing:2px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.code-img1 {
  width: 20%;
  height: 280px;
  float: left;
  margin-right: 30px;
}

.pro {
  text-decoration: underline;
}



.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.contact-me h3 mark {
  background-color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.Bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.Top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}


.Mountain {
  margin-top: 150px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
@media only screen and (max-width:600px)
{
    .Top-container h1 h2{
      text-align: center;
      flex-basis:100% ;
    }
    .skill-row .code-img1 h3 .P_name .para .Mountain .btn .headcont .code-img1 .profile
    {
      flex-basis:100% ;
    }
    .code-img1{
      object-fit: contain;
    }
}
